<button
    nz-button
    [nzType]="type"
    (click)="onClick($event)"
    [nzLoading]="isLoading"
    [nzDanger]="isDanger"
    [disabled]="isDisabled"
    [ngClass]="[
        'button' + (buttonText === '' ? '-only-icon' : ''),
        additionalClass
    ]"
>
    <span
        nz-icon
        [nzType]="prefix"
        [nzTheme]="themeIcon"
        *ngIf="prefix !== ''"
    ></span>
    <span class="content" *ngIf="buttonText !== ''">{{ buttonText }}</span>
    <span
        nz-icon
        [nzType]="suffix"
        [nzTheme]="themeIcon"
        *ngIf="suffix !== ''"
    ></span>
</button>
