<div class="flex flex-column g-10" *ngIf="showingComponent === 'Table'">
    <div class="ProductComponent flex flex-wrap justify-between g-10 mb-1">
        <app-s-input
            placeHolder="Look for name..."
            (onChangeInput)="onChangeValueInput($event)"
        />
        <app-s-button text="Add" suffix="plus" (btnClick)="onAddProduct()" />
    </div>

    <app-s-table
        [isLoading]="isLoading | async"
        [header]="customHeader"
        [data]="products"
        [index]="pagination?.number ?? 0"
        [total]="pagination?.totalElements ?? 0"
        [size]="pagination?.size ?? 0"
        (changePagination)="onChangePagination($event)"
    />
</div>

<app-product-form
    (submitted)="onAddProduct($event, true)"
    (onCancel)="onClose('form')"
    [data]="pivote"
    *ngIf="showingComponent === 'Form'"
/>

<app-s-modal-actions
    [open]="open"
    [type]="typeModal"
    [title]="textModal"
    (onClose)="onClose('modal')"
    (onConfirm)="onConfirm()"
    [isDanger]="userAction === 'delete' ? true : false"
    [textConfirm]="userAction === 'delete' ? 'Sí, eliminar' : undefined"
    [loading]="isLoading | async"
/>

<!-- template for show more about product -->
<ng-template #templateInformation>
    <div class="data-information flex flex-column wp-100 justify-center g-10">
        <div class="flex flex-wrap g-10">
            <app-s-text text="Description:" fontWeight="700" />
            <app-s-text [text]="pivote?.description ?? ''" />
        </div>

        <div class="flex flex-wrap g-10">
            <app-s-text text="Model:" fontWeight="700" />
            <app-s-text [text]="pivote?.model ?? ''" />
        </div>

        <div class="flex flex-wrap g-10">
            <app-s-text text="Model number:" fontWeight="700" />
            <app-s-text [text]="pivote?.modelNumber ?? ''" />
        </div>

        <app-s-text
            text="Information about details"
            textAlign="center"
            fontWeight="700"
        />

        <div
            class="data-information__details flex flex-column justify-center p-2"
        >
            <div
                class="flex g-10"
                *ngFor="let item of pivote?.productDetails || []"
            >
                <app-s-text [text]="item.identifier + ':'" fontWeight="600" />
                <app-s-text [text]="item.value" fontWeight="400" />
            </div>
        </div>

        <app-s-text
            text="Information about views"
            textAlign="center"
            fontWeight="700"
        />

        <nz-spin [nzSpinning]="isLoading | async" nzTip="Updating status...">
            <div class="data-information__views">
                <div class="flex flex-column g-10 justify-center p-2">
                    <div
                        class="flex g-10 justify-between"
                        *ngFor="let item of pivote?.viewProducts || []"
                    >
                        <div class="flex g-10 items-center">
                            <div
                                class="data-information__views-image flex items-center justify-center"
                            >
                                {{ item.image }}
                            </div>
                            <div class="flex flex-column g-5">
                                <div class="flex g-5 items-center">
                                    <app-s-text
                                        [text]="'Color:'"
                                        fontWeight="600"
                                    />
                                    <div
                                        class="data-information__views-color"
                                        [ngStyle]="{
                                            backgroundColor:
                                                item.color || 'white'
                                        }"
                                    ></div>
                                </div>
                                <div class="flex g-5">
                                    <app-s-text
                                        [text]="'Stock:'"
                                        fontWeight="600"
                                    />
                                    <app-s-text
                                        [text]="item.stock.toString()"
                                        fontWeight="400"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <nz-switch
                                [ngModel]="item.status === 1"
                                (ngModelChange)="onUpdateStatus(item, $event)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </nz-spin>
    </div>
</ng-template>
