<div class="flex flex-column p-3">
    <form
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
        class="wp-100"
        nzLayout="vertical"
    >
        <div class="ss-row">
            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label nzRequired>Name</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input the category name!"
                    >
                        <app-s-input
                            [isInputGroup]="true"
                            formControlName="name"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label>Status</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please selected the category status!"
                    >
                        <nz-radio-group
                            formControlName="status"
                            nzButtonStyle="solid"
                        >
                            <label nz-radio-button nzValue="1">ACTIVE</label>
                            <label nz-radio-button nzValue="0">INACTIVE</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="flex justify-center g-20">
            <app-s-button
                text="Cancel"
                [type]="'text'"
                (btnClick)="onCancel.emit()"
            />
            <app-s-button text="Add category" />
        </div>
    </form>
</div>
