<div class="flex flex-column g-10">
    <div class="customer flex flex-wrap justify-between g-10 mb-1">
        <app-s-input
            placeHolder="Look for name, email or mobile..."
            (onChangeInput)="onChangeValueInput($event)"
        />
    </div>

    <app-s-table
        [nzScrollX]="2000"
        [isLoading]="isLoading | async"
        [parentHeader]="parentHeader"
        [header]="customHeader"
        [data]="customers"
        [index]="pagination?.number ?? 0"
        [total]="pagination?.totalElements ?? 0"
        [size]="pagination?.size ?? 0"
        (changePagination)="onChangePagination($event)"
    />
</div>
