<nz-layout>
    <nz-sider nzBreakpoint="lg" nzCollapsible nzWidth="272px">
        <div class="logo flex justify-center items-center">
            <img src="assets/images/logo/light.webp" height="32" alt="logo" />
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <span nz-icon nzType="appstore" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/categories']"
                        >Categories</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/subcategories']"
                        >Sub Categories</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="expand" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/classification']"
                        >Classification</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="branches" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/types']"
                        >Types</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="contacts" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/brands']"
                        >Brands</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="container" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/products']"
                        >Products</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="credit-card" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/payment-methods']"
                        >Payment Methods</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="barcode" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/coupons']"
                        >Coupons</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="comment" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/general/faqs']"
                        >Faqs</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="user" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/admon/customers']"
                        >Customers</a
                    ></span
                >
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="user-add" nzTheme="outline"></span>
                <span
                    ><a [routerLink]="['/backoffice/admon/users']"
                        >Users</a
                    ></span
                >
            </li>
            <!-- <li nz-submenu nzTitle="User" nzIcon="user">
                <ul>
                    <li nz-menu-item>Tom</li>
                    <li nz-menu-item>Bill</li>
                    <li nz-menu-item>Alex</li>
                </ul>
            </li> -->
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header class="header">
            <ul nz-menu nzMode="horizontal" class="header-menu">
                <li class="user-name">Devjs</li>
                <li nz-menu-item (click)="onLogOut()">
                    <span nz-icon nzType="logout" nzTheme="outline"></span>
                    Logout
                </li>
            </ul>
        </nz-header>
        <nz-content>
            <nz-breadcrumb>
                <!-- <nz-breadcrumb-item *ngFor="let route of titles">{{
                    route
                }}</nz-breadcrumb-item> -->
                <nz-breadcrumb-item>{{ title }}</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content"><router-outlet></router-outlet></div>
        </nz-content>
        <nz-footer>ShopSpace ©{{ currentYear }}</nz-footer>
    </nz-layout>
</nz-layout>
