.input-coupon {
    width: 100%;
    height: 40px !important;
    border: 1px solid var(--primary-color);
    border-radius: 8px !important;

    &:focus-within {
        box-shadow: none !important;
    }

    ::ng-deep input {
        border-radius: 8px !important;
        padding: 8px 45px 8px 10px;
        border: none;
        background-color: unset;
    }

    &__icon {
        position: absolute;
        z-index: 999;
        right: 20px;
        color: var(--primary-color);

        &:hover {
            transform: scale(1.2);
        }
    }
}

.ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
    ).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
    ).ant-input:hover {
    border-color: unset !important;
}

.ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
    ).ant-input:focus,
.ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
    ).ant-input-focused {
    border-color: unset !important;
    box-shadow: none;
    border-right-width: 0px;
    outline: 0;
}
