<div class="LogIn flex justify-center items-center">
    <div class="LogIn_form-content justify-center items-center ss-card">
        <app-s-text text="Hi, Welcome!" typeTextElement="h1" />
        <app-s-text
            text="Please, input your credentials!"
            typeTextElement="span"
            class="mb-2"
        />

        <form
            nz-form
            [formGroup]="validateForm"
            (ngSubmit)="submitForm()"
            class="wp-100"
            nzLayout="vertical"
        >
            <nz-form-item>
                <nz-form-label>Email</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="emailError">
                    <app-s-input
                        [isInputGroup]="true"
                        formControlName="email"
                        placeHolder="example@example.com"
                        prefix="user"
                    />

                    <ng-template #emailError let-control>
                        <ng-container *ngIf="control.hasError('required')"
                            >Please input your email address!</ng-container
                        >
                        <ng-container *ngIf="control.hasError('invalid')">{{
                            control.getError("message")
                        }}</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Password</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <app-s-input
                        typeInput="password"
                        [isInputGroup]="true"
                        formControlName="password"
                        placeHolder="type your password..."
                        prefix="lock"
                    />
                </nz-form-control>
            </nz-form-item>

            <app-s-button
                text="Login"
                additionalClass="wp-100"
                [isLoading]="isLoading"
            />
        </form>
    </div>
</div>
