<input
    nz-input
    [placeholder]="placeHolder"
    nzSize="large"
    class="SInputComponent"
    [(ngModel)]="input"
    (ngModelChange)="onChange($event)"
    (blur)="onTouch()"
    *ngIf="!isInputGroup && type === 'input'"
    [maxlength]="maxLength"
    [minlength]="minLength"
    appMasking
    [appMaskValue]="mask"
    appCurrency
    [appIsCurrency]="isCurrency"
/>

<nz-input-group
    [nzAddOnBeforeIcon]="prefix"
    [nzAddOnAfterIcon]="suffix"
    nzSize="large"
    [ngClass]="
        prefix || suffix ? 'SInputComponent' : 'SInputComponent_with-icon'
    "
    *ngIf="isInputGroup && type === 'input'"
>
    <input
        [type]="typeInput"
        nz-input
        [placeholder]="placeHolder"
        [(ngModel)]="input"
        (ngModelChange)="onChange($event)"
        (blur)="onTouch()"
        [maxlength]="maxLength"
        [minlength]="minLength"
        appMasking
        [appMaskValue]="mask"
        appCurrency
        [appIsCurrency]="isCurrency"
    />
</nz-input-group>

<nz-date-picker
    [nzMode]="modeDatePicker"
    [nzFormat]="formatDatePicker"
    [nzPlaceHolder]="placeHolder"
    [(ngModel)]="input"
    (ngModelChange)="onChange($event)"
    (blur)="onTouch()"
    *ngIf="type === 'date'"
></nz-date-picker>

<nz-time-picker
    [nzPlaceHolder]="placeHolder"
    [(ngModel)]="input"
    (ngModelChange)="onChange($event)"
    (blur)="onTouch()"
    nzBorderless
    *ngIf="type === 'time'"
></nz-time-picker>
