<div class="product-form flex flex-column p-3">
    <form
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
        class="wp-100"
        nzLayout="vertical"
    >
        <div class="ss-row">
            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label nzRequired>Title</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input the product title!"
                    >
                        <app-s-input formControlName="title" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label nzRequired>Name</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input the product name!"
                    >
                        <app-s-input formControlName="name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="ss-row">
            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label nzRequired>Description</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input the product description!"
                    >
                        <app-s-input formControlName="description" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label nzRequired>Price</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input the product price!"
                    >
                        <app-s-input
                            formControlName="price"
                            [isCurrency]="true"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="ss-row">
            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label nzRequired>Model</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input the product model!"
                    >
                        <app-s-input formControlName="model" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label nzRequired>Model number</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input the product model number!"
                    >
                        <app-s-input formControlName="modelNumber" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="ss-row">
            <div class="ss-column-50">
                <nz-form-item>
                    <nz-form-label nzRequired>Release date</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input the product release date!"
                    >
                        <app-s-input
                            formControlName="releaseDate"
                            placeHolder="YY/MM/DD"
                            formatDatePicker="yyyy/MM/dd"
                            type="date"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="ss-column-50">
                <div formGroupName="brand">
                    <nz-form-item>
                        <nz-form-label nzRequired>Brand</nz-form-label>
                        <nz-form-control nzErrorTip="Please select one brand!">
                            <nz-select
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="Select a brand"
                                formControlName="id"
                                [nzLoading]="isLoading | async"
                            >
                                <nz-option
                                    *ngFor="let c of brands"
                                    [nzLabel]="c.name"
                                    [nzValue]="c.id"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>

        <div class="ss-column-50 pr-2">
            <div formGroupName="typeClassification">
                <nz-form-item>
                    <nz-form-label nzRequired
                        >Type classification</nz-form-label
                    >
                    <nz-form-control
                        nzErrorTip="Please select type classification!"
                    >
                        <nz-select
                            nzShowSearch
                            nzAllowClear
                            nzPlaceHolder="Select a type classification"
                            formControlName="id"
                            [nzLoading]="isLoading | async"
                        >
                            <nz-option
                                *ngFor="let c of typesClassifications"
                                [nzLabel]="c.name"
                                [nzValue]="c.id"
                            ></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="ss-row">
            <div class="ss-column-50">
                <app-s-text text="Additional information" fontWeight="600" />
            </div>

            <div class="ss-column-50">
                <app-s-button
                    text="Add detail"
                    (btnClick)="onCustomModal(); $event.preventDefault()"
                    class="flex justify-end"
                />
            </div>
        </div>

        <div class="product-form__details my-2 p-2 flex justify-center">
            <app-s-text
                text="Please, add one or more records"
                fontWeight="600"
                *ngIf="productDetails.length === 0"
            />

            <div
                class="flex flex-column g-20 wp-100"
                *ngIf="productDetails.length > 0"
            >
                <div
                    *ngFor="let item of productDetails; let i = index"
                    class="product-form__details-item flex justify-between items-center"
                >
                    <div class="flex g-10">
                        <app-s-text
                            [text]="item.identifier + ':'"
                            fontWeight="600"
                        />
                        <app-s-text [text]="item.value" fontWeight="400" />
                    </div>
                    <div class="flex g-20">
                        <span
                            class="pointer product-form__details-item-icon"
                            nz-icon
                            nzType="edit"
                            nzTheme="outline"
                            (click)="onUpdateDetail(item, i)"
                        ></span>
                        <span
                            class="pointer product-form__details-item-icon"
                            nz-icon
                            nzType="close"
                            nzTheme="outline"
                            (click)="onRemoveDetail(i)"
                        ></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ss-row">
            <div class="ss-column-50">
                <app-s-text text="View products" fontWeight="600" />
            </div>

            <div class="ss-column-50">
                <app-s-button
                    text="Add view"
                    (btnClick)="onCustomModal('view'); $event.preventDefault()"
                    class="flex justify-end"
                />
            </div>
        </div>

        <div class="flex flex-column my-2 g-10">
            <app-s-table
                [header]="customHeader"
                [data]="viewsProduct"
                [includePagination]="false"
            />
        </div>

        <div class="flex justify-center g-20">
            <app-s-button
                text="Cancel"
                [type]="'text'"
                (btnClick)="onCancel.emit()"
            />
            <app-s-button text="Add product" />
        </div>
    </form>
</div>

<!-- template for product details -->
<ng-template #templateDetail>
    <div class="product-detail-form flex flex-column">
        <form
            nz-form
            [formGroup]="detailForm"
            (ngSubmit)="submitDetailForm()"
            class="wp-100"
            nzLayout="vertical"
        >
            <div class="ss-row">
                <div class="ss-column-50">
                    <nz-form-item>
                        <nz-form-label nzRequired>Identifier</nz-form-label>
                        <nz-form-control
                            nzErrorTip="Please input the identifier!"
                        >
                            <app-s-input formControlName="identifier" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="ss-column-50">
                    <nz-form-item>
                        <nz-form-label nzRequired>Value</nz-form-label>
                        <nz-form-control nzErrorTip="Please input the value!">
                            <app-s-input formControlName="value" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="flex justify-center g-20">
                <app-s-button
                    text="Cancel"
                    [type]="'text'"
                    (click)="onCustomModal('detail', 'close')"
                />
                <app-s-button [text]="action === 'save' ? 'Add' : 'Edit'" />
            </div>
        </form>
    </div>
</ng-template>

<!-- template for view product -->
<ng-template #templateView>
    <div class="view-product-form flex flex-column">
        <div class="product-detail-form flex flex-column">
            <form
                nz-form
                [formGroup]="viewForm"
                (ngSubmit)="submitViewForm()"
                class="wp-100"
                nzLayout="vertical"
            >
                <div class="ss-row">
                    <div class="ss-column-50">
                        <nz-form-item>
                            <nz-form-label nzRequired>Image</nz-form-label>
                            <nz-form-control
                                nzErrorTip="Please input the image!"
                            >
                                <app-s-input formControlName="image" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="ss-column-50">
                        <nz-form-item>
                            <nz-form-label nzRequired>Color</nz-form-label>
                            <nz-form-control
                                nzErrorTip="Please input the color!"
                            >
                                <app-s-color-picker formControlName="color" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div class="ss-row">
                    <div class="ss-column-50">
                        <nz-form-item>
                            <nz-form-label nzRequired>Stock</nz-form-label>
                            <nz-form-control
                                nzErrorTip="Please input the stock!"
                            >
                                <app-s-input formControlName="stock" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="ss-column-50">
                        <nz-form-item>
                            <nz-form-label nzRequired>Status</nz-form-label>
                            <nz-form-control
                                nzErrorTip="Please input the status!"
                            >
                                <nz-radio-group
                                    formControlName="status"
                                    nzButtonStyle="solid"
                                >
                                    <label nz-radio-button [nzValue]="1"
                                        >ACTIVE</label
                                    >
                                    <label nz-radio-button [nzValue]="0"
                                        >INACTIVE</label
                                    >
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div class="flex justify-center g-20">
                    <app-s-button
                        text="Cancel"
                        [type]="'text'"
                        (click)="onCustomModal('view', 'close')"
                    />
                    <app-s-button [text]="action === 'save' ? 'Add' : 'Edit'" />
                </div>
            </form>
        </div>
    </div>
</ng-template>
