<div
    class="STableComponent wp-100 flex flex-column items-center justify-center"
>
    <nz-table
        #basicTable
        [nzData]="data"
        [nzLoading]="isLoading ?? false"
        [nzScroll]="{ x: '640px' }"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        class="wp-100"
    >
        <thead class="custom-header">
            <tr>
                <th *ngFor="let c of header">{{ c.title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data; let i = index">
                <td *ngFor="let c of header">
                    <!-- get data by key -->
                    <span
                        *ngIf="
                            c.dataIndex &&
                            !c.render &&
                            !c.element &&
                            !c.onClickElement &&
                            !c.onSecondClickElement &&
                            !c.dataArray
                        "
                    >
                        {{ getValueByKey(data, c.dataIndex) }}
                    </span>

                    <!-- get data by object -->
                    <span
                        *ngIf="
                            !c.dataIndex &&
                            c.render &&
                            !c.element &&
                            !c.onClickElement &&
                            !c.onSecondClickElement &&
                            !c.dataArray
                        "
                    >
                        {{ c.render(data) }}
                    </span>

                    <!-- data by elements -->

                    <!-- switch element -->
                    <span
                        *ngIf="
                            c.dataIndex &&
                            !c.render &&
                            c.element &&
                            (c.onClickElement || c.onSecondClickElement) &&
                            !c.dataArray
                        "
                    >
                        <span *ngIf="c.element === 'switch'">
                            <nz-switch
                                [ngModel]="
                                    getValueByKey(data, c.dataIndex) === 1
                                "
                                (ngModelChange)="
                                    c.onClickElement &&
                                        c.onClickElement(data, $event)
                                "
                            />
                        </span>
                    </span>

                    <!-- icon edit and remove item -->
                    <span
                        *ngIf="
                            !c.dataIndex &&
                            !c.render &&
                            c.element &&
                            c.onClickElement &&
                            c.onSecondClickElement &&
                            !c.dataArray
                        "
                    >
                        <span *ngIf="c.element === 'actions'">
                            <app-s-actions
                                (btnEdit)="
                                    c.onClickElement(data, data, i);
                                    $event.preventDefault()
                                "
                                (btnRemove)="
                                    c.onSecondClickElement(data, data, i);
                                    $event.preventDefault()
                                "
                            ></app-s-actions>
                        </span>
                    </span>

                    <!-- select element -->
                    <span
                        *ngIf="
                            c.dataIndex &&
                            !c.render &&
                            c.element &&
                            c.onClickElement &&
                            !c.onSecondClickElement &&
                            c.dataArray
                        "
                    >
                        Sera un select
                    </span>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <nz-pagination
        *ngIf="includePagination"
        [nzPageIndex]="index"
        [nzTotal]="total"
        [nzPageSize]="size"
        (nzPageIndexChange)="onPageIndexChange($event)"
        nzSimple
    />
</div>
