::ng-deep
    .ant-table-wrapper
    > .ant-spin-nested-loading
    > .ant-spin-container
    > .ant-table
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th {
    background: #4d7768 !important;
    color: var(--quaternary-text-color);
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: #e1f8f0;
}

::ng-deep nz-pagination {
    margin-top: 20px !important;
}

::ng-deep .ant-pagination-simple .ant-pagination-simple-pager input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

::ng-deep .ant-pagination-simple .ant-pagination-simple-pager input:focus {
    box-shadow: 0 7px 10px 0 rgba(1, 52, 34, 0.2);
}
