<nz-modal [nzVisible]="open" (nzOnCancel)="onClose.emit()" [nzFooter]="null">
    <div
        class="flex flex-column items-center justify-center mt-2"
        *nzModalContent
    >
        <div class="mb-2 SModalActions_icon">
            <span
                nz-icon
                nzType="question-circle"
                nzTheme="outline"
                class="confirm"
                *ngIf="type === 'confirm'"
            ></span>
            <span
                nz-icon
                nzType="check-circle"
                nzTheme="outline"
                class="success"
                *ngIf="type === 'success'"
            ></span
            ><span
                nz-icon
                nzType="info-circle"
                nzTheme="outline"
                class="info"
                *ngIf="type === 'info'"
            ></span>
            <span
                nz-icon
                nzType="close-circle"
                nzTheme="outline"
                class="error"
                *ngIf="type === 'error'"
            ></span>
        </div>

        <app-s-text
            [text]="title"
            fontSize="18"
            fontWeight="500"
            class="SModalActions_title"
        />

        <div class="flex mt-2 g-10">
            <app-s-button
                [type]="'link'"
                [text]="type === 'confirm' ? 'CANCELAR' : 'CERRAR'"
                (btnClick)="onClose.emit()"
            />
            <app-s-button
                [type]="'primary'"
                [isDanger]="isDanger"
                [text]="
                    textConfirm && type === 'confirm' ? textConfirm : 'Aceptar'
                "
                (btnClick)="onConfirm.emit()"
                [isLoading]="loading"
                *ngIf="type === 'confirm'"
            />
        </div>
    </div>
</nz-modal>
